fieldset {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
    width: 30%;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
}

.btn {
    all: unset;
    margin: 1%;
}

button {
    padding: 10%;
    border: 1px solid blue;
    border-radius: 5px;
}

button:hover {
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

button:active {
    translate: 0 5%;
}

input[type="password"]:invalid {
    border-color: red;
}
  
input[type="password"]:placeholder-shown:invalid{
    border: 1px solid black;
    border-radius: 1px;
}

input:focus{
    outline: none;
    border-color: blue;
    box-shadow: 2px 2px gainsboro;
}